$card-font: 1em;
$btn-margin-top: 4%;
$sub-btn-margin-top: 38%;
$boder-radius: 15px;
$border-width: 20px 40px;

@mixin breakpoint-1 {
    @media only screen and (max-width:1380px) and (max-height:744px){
        @content;
    }
}
@mixin width-breakpoint-1 {
    @media only screen and (max-width:1167px){
        @content;
    }
}
@mixin height-breakpoint-1 {
    @media only screen and (max-height:692px){
        @content;
    }
}

@mixin height-breakpoint-2 {
    @media only screen and (max-height:658px){
        @content;
    }
}

@mixin breakpoint-2 {
    @media only screen and (max-width:1120px) and (max-height:585px){
        @content;
    }
}

@mixin width-breakpoint-2 {
    @media only screen and (max-width:1076px){
        @content;
    }
}

@mixin width-breakpoint-3 {
    @media only screen and (max-width:1055px){
        @content;
    }
}

@mixin breakpoint-3 {
    @media only screen and (max-width:970px) and (max-height:625px){
        @content;
    }
}

@mixin width-breakpoint-4 {
    @media only screen and (max-width:945px){
        @content;
    }
}

@mixin breakpoint-4 {
    @media only screen and (max-width:798px) and (max-height:575px){
        @content;
    }
}


body {
    height: 98vh;
}

body {
    .header-container {
        width: 100%;
        height: 5%;
        display: flex;
        @include breakpoint-3 {
            .header-container {
                font-size: .8em;
            }
        }
        @include breakpoint-4 {
            .header-container {
                font-size: .7em;
            }
        }
        .header-col-icon {
            width: 15%;
        }
        .header-col {
            width: 8.75%;
        }
    }

    .body-container {
        width: 94%;
        height: 82%;
        margin: 3%;

        .title-container {
            width: 100%;
            height: 25%;
            display: grid;

            .title {
                height: 50%;
                font-size: 4em;
                margin-left: 1%;
            }
            @include height-breakpoint-2 {
                .title {
                    font-size: 3.5em;
                }
            }
            @include breakpoint-3 {
                .title {
                    font-size: 2.5em;
                }
            }
            
            .description {
                height: 50%;
                margin-left:1%;
            }
        }
        .sub-body {
            height: 75%;
            width: 100%;
            display: flex;
    
            .col-1 {
                height: 94%;
                width: 50%;
    
                .box-1-container {
                    height: 34%;
                    width: 96%;
                    background-color: green;
                    margin: 2%;
                    border-radius: $boder-radius;
                    border-width: $border-width;
                    padding: 1% 0 0 1%;

                    .card-font {
                        font-size:$card-font;
                        font-weight: bolder;
                    }
                    @include height-breakpoint-2 {
                        .card-font {
                            font-size: ($card-font)-.2;
                        }
                    }

                    .read-btn {
                        height: 10%;
                        width: 20%;
                        background-color: aliceblue;
                        text-align: center;
                        padding: 1%;
                        margin-top: $btn-margin-top;
                        margin-left: 2%;
                    }
                    @include breakpoint-1 {
                        .read-btn {
                            margin-top: 2%;
                        }
                    }
                    @include height-breakpoint-1 {
                        .read-btn {
                            margin-top: 0;
                        }
                        .card-header {
                            font-size: .7em;
                        }
                    }
                    @include breakpoint-2 { 
                        .read-btn {
                            font-size: .9em;
                        }
                    }
                    @include width-breakpoint-2 {
                        .read-btn {
                            font-size: .8em;
                        }
                    }
                    @include breakpoint-3 {
                        .read-btn {
                            font-size: .8em;
                        }
                    }
                    @include width-breakpoint-4 {
                        .read-btn {
                            font-size: .7em;
                        }
                    }
                }
    
                .box-2-container {
                    display: flex;
                    width: 100%;
                    height: 65%;
    
                    .sub-box-1 {
                        height: 96%;
                        width: 48%;
                        background-color: lightblue;
                        margin: 2%;
                        border-radius: $boder-radius;
                        border-width: $border-width;
                        padding: 10px 0 0 10px;

                        .card-font {
                            font-size:$card-font;
                            font-weight: bolder;
                        }
                        @include height-breakpoint-2 {
                            .card-font {
                                font-size: ($card-font)-.2;
                            }
                        }

                        .read-btn-2 {
                            height: 10%;
                            width: 40%;
                            background-color: aliceblue;
                            text-align: center;
                            padding: 1%;
                            margin-top: 32%;
                            margin-left: 10%;                        
                        }

                        @include height-breakpoint-1 {
                            .read-btn-2 {
                                margin-top: ($sub-btn-margin-top)-11;
                            }
                        }
                        @include width-breakpoint-1{
                            .read-btn-2{
                                font-size: .9em;
                            }
                        }
                        @include breakpoint-2 { 
                            .read-btn-2 {
                                font-size: .9em;
                            }
                        }
                        @include width-breakpoint-3 {
                            .read-btn-2 {
                                font-size: .8em;
                            }
                        }
                        @include breakpoint-3 {
                            .card-header {
                                font-size: .7em;
                            }
                        }
                        @include width-breakpoint-4 {
                            .read-btn-2 {
                                font-size: .7em;
                            }
                        }
                    }
                
                    .sub-box-2 {
                        height: 96%;
                        width: 48%;
                        margin: 2%;
                        background-color: pink;
                        border-radius: $boder-radius;
                        border-width: $border-width;
                        padding: 10px 0 0 10px;

                        .card-font {
                            font-size:$card-font;
                            font-weight: bolder;
                        }
                        
                        @include height-breakpoint-2 {
                            .card-font {
                                font-size: ($card-font)-.2;
                            }
                        }

                        .read-btn-2 {
                            height: 10%;
                            width: 40%;
                            background-color: aliceblue;
                            text-align: center;
                            padding: 1%;
                            margin-top: $sub-btn-margin-top;
                            margin-left: 10%;                        
                        }

                        @include height-breakpoint-1 {
                            .read-btn-2 {
                                margin-top: ($sub-btn-margin-top)-4;
                            }
                        }
                        @include width-breakpoint-1{
                            .read-btn-2{
                                font-size: .9em;
                            }
                        }
                        @include breakpoint-2 { 
                            .read-btn-2 {
                                font-size: .9em;
                            }
                        }
                        @include width-breakpoint-3 {
                            .read-btn-2 {
                                font-size: .8em;
                            }
                            .card-header {
                                font-size: .8em;
                            }
                        }
                        @include width-breakpoint-4 {
                            .read-btn-2 {
                                font-size: .7em;
                            }
                        }
                    }
                }
            }
    
            .col-2 {
                height: 94%;
                width: 50%;

                .box-2-container {
                    display: flex;
                    width: 100%;
                    height: 65%;
                
                    .sub-box-1 {
                        height: 96%;
                        width: 48%;
                        background-color: lightblue;
                        margin: 2%;
                        border-radius: $boder-radius;
                        border-width: $border-width;
                        padding: 10px 0 0 10px;

                        .card-font {
                            font-size:$card-font;
                            font-weight: bolder;
                        }
                        @include height-breakpoint-2 {
                            .card-font {
                                font-size: ($card-font)-.2;
                            }
                            .card-header {
                                font-size: .8em;
                            }
                        }

                        .read-btn-2 {
                            height: 10%;
                            width: 40%;
                            background-color: aliceblue;
                            text-align: center;
                            padding: 1%;
                            margin-top: $sub-btn-margin-top;
                            margin-left: 10%;                        
                        }

                        @include height-breakpoint-1 {
                            .read-btn-2 {
                                margin-top: ($sub-btn-margin-top)-4;
                            }
                            .card-header {
                                font-size: .7em;
                            }
                        }
                        @include width-breakpoint-1{
                            .read-btn-2{
                                font-size: .9em;
                            }
                        } 
                        @include breakpoint-2 { 
                            .read-btn-2 {
                                font-size: .9em;
                            }
                        }
                        @include width-breakpoint-3 {
                            .read-btn-2 {
                                font-size: .8em;
                            }
                            .card-header {
                                font-size: .8em;
                            }
                        }
                        @include width-breakpoint-4 {
                            .read-btn-2 {
                                font-size: .7em;
                            }
                        }
                    }
            
                    .sub-box-2 {
                        height: 96%;
                        width: 48%;
                        background-color: pink;
                        margin: 2%;
                        border-radius: $boder-radius;
                        border-width: $border-width;
                        padding: 10px 0 0 10px;

                        .card-font {
                            font-size:$card-font;
                            font-weight: bolder;
                        }
                        @include height-breakpoint-2 {
                            .card-font {
                                font-size: ($card-font)-.2;
                            }
                        }

                        .read-btn-2 {
                            height: 10%;
                            width: 40%;
                            background-color: aliceblue;
                            text-align: center;
                            padding: 1%;
                            margin-top: $sub-btn-margin-top;
                            margin-left: 10%;                        
                        }
 
                        @include height-breakpoint-1 {
                            .read-btn-2 {
                                margin-top: ($sub-btn-margin-top)-4;
                            }
                        }
                        @include width-breakpoint-1{
                            .read-btn-2{
                                font-size: .9em;
                            }
                        }
                        @include breakpoint-2 { 
                            .read-btn-2 {
                                font-size: .9em;
                            }
                        }
                        @include width-breakpoint-3 {
                            .read-btn-2 {
                                font-size: .8em;
                            }
                            .card-header {
                                font-size: .8em;
                            }
                        }
                        @include width-breakpoint-4 {
                            .read-btn-2 {
                                font-size: .7em;
                            }
                        }
                    }
                }

                .box-1-container {
                    height: 34%;
                    width: 96%;
                    margin: 2%; 
                    margin-top: 4%;
                    background-color: green;
                    border-radius: $boder-radius;
                    border-width: $border-width;
                    padding: 10px 0 0 10px;

                    .card-font {
                        font-size:$card-font;
                        font-weight: bolder;
                    }
                    @include height-breakpoint-2 {
                        .card-font {
                            font-size: ($card-font)-.2;
                        }
                        .card-header {
                            font-size: .7em;
                        }
                    }

                    .read-btn {
                        height: 10%;
                        width: 20%;
                        background-color: aliceblue;
                        text-align: center;
                        padding: 1%;
                        margin-top: $btn-margin-top;
                        margin-left: 2%;
                    }
                    @include breakpoint-1 {
                        .read-btn {
                            margin-top: 2%;
                        }
                    }
                    @include height-breakpoint-1 {
                        .read-btn {
                            margin-top: 0;
                        }
                        .card-header {
                            font-size: .7em;
                        }
                    }
                    @include breakpoint-2 { 
                        .read-btn {
                            font-size: .9em;
                        }
                    }
                    @include width-breakpoint-2 {
                        .read-btn {
                            font-size: .8em;
                        }
                    }
                    @include breakpoint-3 {
                        .read-btn {
                            font-size: .8em;
                        }
                    }
                    @include width-breakpoint-4 {
                        .read-btn {
                            font-size: .7em;
                        }
                    }
                }
            }
        }
    }
}
